

<header class="site-header" role="banner">

  <div class="wrapper">

  <center><a class="site-title" href="/blog/" style="float: initial">{{ site.title }}</a></center>
	
	
    <nav class="site-nav">

      <div class="trigger">
              
          <a class="page-link" href="/blog/about/">About</a>    

      </div>

    </nav>

	<img src= "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAQjAAAAJDJhYmNiMWFjLTY3YTItNDk2MS04Y2M0LTI4N2M0OGRhZDljMg.jpg" alt="avatar" style= "display:block; text-align:center; width:300px; height:300px;">

  </div>

</header>